<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">



<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <title>WeUI</title>
        <link rel="stylesheet" href="__PUBLIC__/weui.min.css"/>
     

<script type="text/javascript" src="__PUBLIC__/weui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/jquery-1.8.3.min.js"></script>
    

<script type="text/javascript">
    //weui.alert('alert');
</script>
    </head>

    <body>


 <div class="weui-cells__title">签到记录列表</div>
<foreach name="list" item="vo">

   <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">{$vo['course_name']}<php>echo date(Y年m月d日,$vo['time_start']);</php>到<php> echo date('Y年m月d日',$vo['time_end']);</php>{$vo['sign_status']}</span>
                    
                </div>
                <a href="{:U('signTrackDetail',array('week_status'=>1,'id'=>$vo['id']))}"><div class="weui-cell__ft">详细信息</div></a>
            </div>
</foreach>



    </body>
    <script type="text/javascript">
  

</script>
</html>
