<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">



<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <title>密码修改成功</title>
        <link rel="stylesheet" href="__PUBLIC__/weui.min.css"/>
     

<script type="text/javascript" src="__PUBLIC__/weui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/jquery-1.8.3.min.js"></script>
    

<script type="text/javascript">
    
</script>
    </head>

    <body>


<!-- <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">错误</strong></div>
        <div class="weui-dialog__bd">两次密码输入不一致</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
    </div> -->
    </body>
    <script type="text/javascript">

weui.alert('密码修改成功');


</script>
</html>
